html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

body {
  background-color: #000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('react95/dist/fonts/ms_sans_serif.woff') format('woff');
}

.ms-sans-serif {
  font-family: 'MS Sans Serif', sans-serif;
}

body {
  font-family: 'MS Sans Serif', sans-serif;
}

.bottom-image {
  position: absolute;
  bottom: 12.2%;
  left: 33%;
  transform: scale(6); /* Adjust the scale as needed */
  width: 100px; /* Adjust the width as needed */
}

.Azazel {
  position: absolute;
  top: 78.8%; /* Adjust the top position as needed */
  left: 15%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%) scale(0.5); /* Adjust the scale as needed */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}
.Helltale {
  position: absolute;
  top: 50%; /* Adjust the top position as needed */
  left: 30%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%) scale(1); /* Adjust the scale as needed */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}